.app-container {
  font-family: Arial, Helvetica, sans-serif;
}

.task-logo {
  width: 30%;
}

.task-logo img {
  width: 100px;
}

.navbar-nav {
  font-size: 1.2rem;
}

.nav-link {
  padding: 1rem;
}

.nav-link:hover {
  background-color: #343a40;
}

.container {
  margin-top: 2rem;
}


@media screen and (max-width: 768px) {
  .navbar-collapse {
    margin-top: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }

  .navbar-nav {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}